* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  padding: 20px 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT: Button */
nav button {
  padding: 10px 18px;
  border: none;
  background-color: #469165;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

/* CENTER: UL */
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

/* RIGHT: Logo */
nav img {
  width: 139px;
  height: 60px;
}
